@page "/category/create"
@page "/category/edit/{id:int}"

@inject ICategoryRepository _categoryRepo
@inject NavigationManager _navigationMana
<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Category</h3>
    <div class="col-10">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="/images/loading.gif">
            </div>
        }
        else
        {
            @* EditForm là một component cung cấp sự hỗ trợ cho việc tạo và quản lý form  *@
            <EditForm Model="Category" OnValidSubmit="UpsertCategory">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label>Name</label>
                    <InputText @bind-Value="Category.Name" class="form-control"></InputText>
                    <ValidationMessage For="()=> Category.Name"></ValidationMessage>
                </div>
                <div class="row form-group mt-2">
                    <div class="col-6">
                        <button class="btn btn-primary" style="width:200px">@Title</button>
                    </div>
                    <div class="col-6">
                        <NavLink href="category" style="width:200px" class="btn btn-secondary">Back</NavLink>
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private CategoryDTO Category { get; set; } = new CategoryDTO();
    private string Title { get; set; } = "Create";
    public bool IsLoading { get; set; }
    protected async override Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            // create
            IsLoading = false;
        }
        else
        {
            Title = "Update";
            await Task.Run(LoadCategories);
        }
    }
    private void LoadCategories()
    {
        Category = _categoryRepo.Get(Id);
        IsLoading = false;
    }
    private void UpsertCategory()
    {
        if (Category.Id == 0)
        {
            //create
            _categoryRepo.Create(Category);
        }
        else
        {
            _categoryRepo.Update(Category);
            //update
        }
        _navigationMana.NavigateTo("category");

    }
}
